<div class="d-flex justify-content-between events-table-heading">
  <h2>Events</h2>

  <a class="btn btn-lg btn-primary" role="button" routerLink="/event/create"> Create Event </a>
</div>

<span class="text-info" *ngIf="loading">Loading events...</span>

<table class="table table-bordered table-hover">
  <caption>
    Table of events
  </caption>

  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Location</th>
      <th>Expected Weather</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let event of events">
      <td>{{ event.name }}</td>
      <td>{{ event.date | date: 'dd/MM/yyyy' }}</td>
      <td>{{ event.location }}</td>
      <td>{{ event.expectedWeather }}</td>
      <td class="d-flex">
        <a class="btn btn-link btn-sm edit-btn" routerLink="/event/{{ event.id }}">
          Edit Details
        </a>

        <button class="btn btn-sm btn-danger" type="submit" (click)="onDelete(event)">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
