<form (ngSubmit)="onSubmit()" #loginForm="ngForm">
  <h2 class="heading">Login</h2>

  <ngb-alert type="danger" (closed)="authService.clearError()" *ngIf="authService.error">
    {{ authService.error }}
  </ngb-alert>

  <div class="form-group">
    <label for="email">Email address</label>
    <input
      name="email"
      type="email"
      class="form-control"
      id="email"
      placeholder="Email"
      required="required"
      [(ngModel)]="auth.email"
      #email="ngModel"
    />
    <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
      Email address is required
    </div>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input
      name="password"
      type="password"
      class="form-control"
      id="password"
      placeholder="Password"
      required="required"
      [(ngModel)]="auth.password"
      #password="ngModel"
    />
    <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
      Password is required
    </div>
  </div>

  <button
    class="btn btn-lg btn-primary"
    type="submit"
    [disabled]="!loginForm.form.valid || submitted"
  >
    Login
  </button>
</form>
