<div *ngIf="alert">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ alert.title }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <p>{{ alert.message }}</p>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="activeModal.dismiss()"
      *ngIf="alert.cancelActionLabel"
    >
      {{ alert.cancelActionLabel }}
    </button>

    <button type="button" class="btn btn-outline-primary" (click)="onPrimaryClick()">
      {{ alert.primaryActionLabel }}
    </button>
  </div>
</div>
