<form (ngSubmit)="onSubmit()" #eventDetailForm="ngForm">
  <h2>
    {{ event ? 'Update Event Details' : 'Create Event' }}
  </h2>

  <div class="form-group">
    <label for="name">Name</label>
    <input
      name="name"
      type="text"
      class="form-control"
      id="name"
      placeholder="Name"
      required="required"
      [(ngModel)]="eventDetail.name"
      #name="ngModel"
    />
    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
      Event name is required
    </div>
  </div>

  <div class="form-group">
    <label for="date">Date</label>
    <div class="input-group">
      <input
        name="date"
        type="text"
        class="form-control"
        id="date"
        placeholder="dd-MM-yyyy"
        #d="ngbDatepicker"
        [(ngModel)]="eventDetail.date"
        [markDisabled]="isDisabled"
        ngbDatepicker
        #date="ngModel"
      />

      <div class="input-group-append">
        <button class="btn btn-outline-dark calendar" (click)="d.toggle()" type="button">
          Select Date
        </button>
      </div>
    </div>

    <div
      [hidden]="eventDetail !== null && eventDetail.date && eventDetail.date.year"
      class="alert alert-danger"
    >
      Event date is invalid
    </div>
  </div>

  <div class="form-group">
    <label for="location">Location</label>
    <input
      name="location"
      type="text"
      class="form-control"
      id="location"
      placeholder="Location"
      required="required"
      [(ngModel)]="eventDetail.location"
      #location="ngModel"
    />
    <div [hidden]="location.valid || location.pristine" class="alert alert-danger">
      Event location is required
    </div>
  </div>

  <div class="form-group">
    <label for="expectedWeather">Expected Weather = </label>

    <span class="text-primary forecast">{{ eventDetail.expectedWeather }}</span>

    <div>
      <div>
        <button
          type="button"
          class="btn btn-sm btn-info"
          (click)="onLoadWeatherForecast()"
          [disabled]="loadingForecast"
        >
          Load Weather Forecast
        </button>
      </div>

      <span class="text-danger">
        {{ forecastError }}
      </span>
    </div>
  </div>

  <button
    class="btn btn-lg btn-primary"
    type="submit"
    [disabled]="
      !eventDetailForm.form.valid ||
      loadingForecast ||
      !enableForecastPrediction ||
      !eventDetail.expectedWeather ||
      submitted
    "
  >
    {{ event ? 'Update' : 'Create' }} Event
  </button>

  <button class="btn btn-lg btn-outline" type="button" (click)="goBack()">Cancel</button>
</form>
