h1.app-title {
  background-color: ghostwhite;
}

.container {
  padding-top: 24px;
}

form {
  max-width: 600px;
  padding: 24px 0;
}
form > div.form-group {
  margin-bottom: 16px;
}

form > h2.heading {
  margin-bottom: 16px;
}

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42a948; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}
